.mainStoryTableContainer {
  margin: auto;
  width: 90%;
  height: auto;

  .searchFilterContainer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ReactTable {
  .rt-thead .rt-th.-sort-asc,.rt-thead .rt-td.-sort-asc {
    box-shadow: none !important;
  }

  .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: none !important;
}

  .rt-thead.-header {
    height: 50px;
    background: rgba(128, 128, 128, 0.25);
    box-shadow: none !important;
  }

  .rt-th.rt-resizable-header.-cursor-pointer {
    pointer-events: none;
  }

  .rt-thead .rt-tr {
    text-align: center;
    align-items: center;
  }

  .rt-tbody .rt-tr-group {
    height: 50px;
    text-align: center;
  }

  .rt-tr {
    align-items: center;
  }

  .rt-resizable-header-content {
    width: 100%;
  }

  .rt-resizer {
    pointer-events: auto;
    top: 15px;
  }
}

.checkBoxes {
  cursor: pointer;
}

.actionIconContainer {
  display: flex;
  width: 50px;
  justify-content: space-evenly;
}

.ReactTable .rt-tbody .rt-tr-group {
  height: 50px;
  text-align: left;
}

.innerDiv {
  pointer-events: none;
  display: flex;
  justify-content: space-evenly;
}

.sortIconUp {
  color: blue;
  cursor: pointer;
  pointer-events: auto;
}
.sortIconDown {
  color: blue;
  cursor: pointer;
  pointer-events: auto;
  transform: rotate(180deg);
}
