$commonBorderRadius: 5px;
$commonBorderColor: #d4d5d6;

.storyContainer {
  box-sizing: border-box;
  height: auto;
  margin: 0px auto 0px auto;
  width: 65em;
  padding: 30px;
  border-radius: $commonBorderRadius;
  background-color: #80808026;
  margin-bottom: 30px;

  input {
    height: 40px;
  }

  input[type="text"],
  textarea {
    border: unset;
    padding: 10px;
    background-color: #d4d5d6;
    border-top-right-radius: $commonBorderRadius;
    border-top-left-radius: $commonBorderRadius;
    outline: none;
    resize: none;
  }

  button {
    border: unset;
    color: grey;
    background-color: $commonBorderColor;
    border-radius: $commonBorderRadius;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
  }

  input:focus,
  textarea:focus {
    border: 1px solid blue;
  }

  div {
    margin-bottom: 30px;
  }
}
.storyNameContainer {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageUploadContainer {
  display: flex;
  align-items: center;
  width: 40em;
}

.storyName {
  width: 250px;
}

.updateImageBtn {
  height: 45px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.storyContent {
  width: 97%;
  height: 150px;
}

.keywordContent {
  width: 97%;
  height: 30px;
}

.chipItem {
  background-color: #BFB6AA;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  height: 30px;
  padding: 0 5px 0px 0.5rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0.3rem 0.3rem 0;
}

.chipItem > .keywordButton {
  background-color: grey;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
